

<h1>Hello  {{ participant.pseudo}} 😊</h1>

<p>
    Sortir.com vous confirme  votre inscription à la sortie {{ sortie.nom}} qui commencera le {{ sortie.dateDebut |date('d-m-Y H:i:s')}} . <br><br>

    La sortie se déroulera à {{ sortie.lieux.nomLieu }} à l' adresse suivante {{ sortie.lieux.rue }} dans le ville de {{ sortie.lieux.ville.nomVille }}.
</p>
<p>
    Le temps estimée de la sortie sera de {{ sortie.duree }} heures.
</p>
<p>
    Vous serez accompagner de :
</p>
<br>
</p>
    {% for user in sortie.users %}
        {%if not (user.id == participant.id) %}
        <div class=" text-sm-start col-md-5"> -  {{ user.prenom }} {{ user.nom }}</div>
        {% endif %}
    {% endfor %}

    <br>
<p>
   Cordialement



    L' équipe de Sortir.com
</p>

<img class="sortirLogo"  src="{{asset('images/sortirLogo.png') }}">
