<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    <link rel="icon" href="{{  asset('images/sortirFavicon.png') }}">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script src="{{ asset('filtre_sortie.js') }}" defer></script>
    {% endblock %}
</head>
<body>


    <header>
        <div class="headerLogo"><a href="{{ path('app_home') }}"><img class="sortirLogo"  src="{{  asset('images/sortirLogo.png') }}"></a></div>
        <nav>
             <ul>
                 {% if is_granted('IS_AUTHENTICATED') %}
                 <li style="padding:5px;color: #0f5132;text-decoration-line:underline">Bonjour {{ app.user.pseudo }}</li>
                 {% endif %}


{#              <li style="padding:5px;"><a href="{{ path('app_home') }}">Accueil</a></li>#}
                 {% if is_granted('IS_AUTHENTICATED') %}
                     <li style="padding:5px;"><a href="{{ path('app_sorties_index') }}">Sorties</a></li>
                     <li style="padding:5px;"><a href="{{ path('app_villes_index') }}">Ville</a></li>
                     <li style="padding:5px;"><a href="{{ path('app_sites_index') }}">Site</a></li>
                     <li style="padding:5px;"><a href="{{ path('app_profil') }}">Mon Profil</a></li>
                     <li style="padding:5px;"><a href="{{ path('app_logout') }}">Se Déconnecter</a></li>
                     {% else %}
                         <img class="gif2"  src="{{  asset('images/clavier.gif') }}">
                         <img class="gif"  src="{{  asset('images/fleche.gif') }}">
                         <li style="padding:5px;"><a href="{{ path('app_login') }}">Se connecter</a></li>
                 {% endif %}
            </ul>
        </nav>
    </header>
    <div class="divblue"></div>

<br>
 <div class="text-success">
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class = "alert alert-{{ label }}">{{ message }}</div>
    {% endfor %}
{% endfor %}
</div>

    {% block body %}{% endblock %}
</body>
</html>
