{% block javascripts %}
    <script src="{{ asset('lieu_creation.js') }}" defer></script>
{% endblock %}

{#{{ form_start(form) }}#}
<!-- Modal pour la création d'un nouveau lieu -->
<div class="modal fade" id="newLieuModal" tabindex="-1" aria-labelledby="newLieuModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newLieuModalLabel">Créer un nouveau lieu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="new-lieu-form">
{#                    {{ form_widget(form.nomLieu) }}#}
{#                    {{ form_widget(form.rue) }}#}
{#                    {{ form_widget(form.latitude) }}#}
{#                    {{ form_widget(form.longitude) }}#}
{#                    {{ form_widget(form.ville) }}#}
                    <button type="button" class="btn btn-primary" id="save-lieu">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

{#{{ form_end(form) }}#}

