{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <h1>Mon Profil</h1>
    {% if(user.userphoto)%}
        <img class="userPhoto" src="{{ asset('uploads/userPhoto/' ~user.userPhoto) }}" alt="userPhoto">
    {% elseif user.id is divisible by(2) %}
        <img class="userPhoto" src="{{ asset('images/pingouin.png') }}" alt="userPhoto">
    {% else %}
        <img class="userPhoto" src="{{ asset('images/poule.png') }}" alt="userPhoto">
    {% endif %}

    <h1>{{ user.pseudo }}</h1>
    <table class="table">
        <tbody>
        <tr>
            <th>prenom</th>
            <td> {{ user.prenom }} </td>
        </tr>
        <tr>
            <th>nom</th>
            <td> {{ user.nom }} </td>
        </tr>
        <tr>
            <th>telephone</th>
            <td> {{ user.telephone }} </td>
        </tr>
        <tr>
            <th>email</th>
            <td> {{ user.email }} </td>
        </tr>
        <tr>
            <th>site de rattachement</th>
            <td>  {{ user.site.nomSite }} </td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-info btn-sm" href="{{ path('app_profil_retour') }}"> Retour </a>


{% endblock %}
